services:
  - type: web
    name: gallery-manager
    runtime: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn Gallery_Manager.wsgi:application"
    envVars:
      - key: PYTHON_VERSION
        value: 3.13.4
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: ALLOWED_HOSTS
        sync: false
    autoDeploy: true
